html {
  scrollbar-gutter: stable both-edges;
  font-weight: 600;
}

button {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

img {
  height: 200px;
}

input {
  position: relative;
  height: 30px;
}

label {
  font-size: 16px;
}

.fontButton {
  font-size: 14px;
}

.fontInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.colFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

#centerContentContainer {
  width: 200px;
  gap: 10px;
}

#letters {
  gap: 5px;
  background: #f8a9a9;
  border-radius: 5px;
  padding: 5px;
}

#fontInputContainer {
  background: #fff06b;
}

#fontSize {
  background: #7a8eff;
}
